.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**/@types/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/LICENSE
node_modules/**/CHANGELOG.md
node_modules/**/.github/**
**/.DS_Store
.git/**
.github/**
*.vsix
**/.prettierrc
**/.editorconfig
project_overview.md
.vscode-test.mjs
eslint.config.mjs
.env
